/* Define @font-face rule */
@font-face {
    font-family: 'MyCustomFont';
    src: url('Evogria.otf') format('woff2'), /* Modern Browsers */
    url('Evogria.otf') format('woff');   /* Older Browsers */
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    overflow-x: hidden;
    height: 100%;
    background: #18143B;
}
h1{
    font-family: 'MyCustomFont', 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    /* margin-top: 5%; */
}

#main-ctn {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("files/bg.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

/* #main-ctn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('6.jpg');
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
} */

#top {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
}

#bottom{
    width: 100%;
    height: 65%;
}

#intro {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}

#intro span {
    color: #e142e3;
    font-family: 'MyCustomFont', 'Poppins',sans-serif;
    font-size: 140px;
    font-weight: bolder;
}




#navbar{
    position: fixed;
    width: 45%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 50px;
    /* background-color: transparent; */
    /* filter: blur(2px); */
    overflow: hidden;
    justify-content: space-around;
}

#navbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e142e3;
    filter: blur(50px);
    z-index: -1;
}

.sections{
    display: block;
    z-index: 11;
    color: aliceblue;
    font-family: 'MyCustomFont', sans-serif;
    text-decoration: none;
}

.sections:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #07073E;
}

.sections:active{
    color: #07073E;
}


/*---------------------------------------------------------------- ABOUT-------------------------------------------------------- */
/* **************************************************************************************************************************** */


#About{
    width: 100vw;
    min-height: 100vh;
    background-image: url("files/8.png");
    background-size: cover;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#about-center{
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-heading {
    font-family: 'MyCustomFont', 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 50px;
    opacity: 1;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}


#about-ctn{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

@keyframes sr3{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes sr2{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes sr1{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#me{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: #e142e3 0px 1px 2px, #e142e3 0px 2px 4px, #e142e3 0px 4px 8px, #e142e3 0px 8px 16px,  #e142e3 0px 32px 64px;
    animation: zoomIn 1s ease forwards,floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    /* z-index: 20;
    animation: sr1 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%; */
    /* box-shadow:  0px 30px 90px; */
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-35px);
    }
    100%{
        transform: translateY(0);
    }
}

#parah{
    color: #ffffff;
    font-size: 25px;
    text-align: justify;
    font-weight: 500;
    animation: slideRight 1s ease forwards;
    animation: sr2 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#parah span{
    font-size: 35px;
    color: #e142e3;
    font-weight: 700;
}

#dwnld{
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 3px solid #e142e3;
    color: #e142e3;
    font-size: 20px;
    height: 40px;
    width:120px;
    /* padding-left: 100px; */
}

#dwnld:hover{
    cursor: pointer;
    opacity: 50%;
}



/* ********************************************************************************************************************* */

#skills{
    width: 100vw;
    min-height: 100vh;
    /* background-image: url("7.png");
    background-size: cover;
    background-repeat: no-repeat; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

#skills-heading{
    font-family: 'MyCustomFont', 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    margin-top: 5%;
}

/*/* .skills-center{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#skills-ctn{    
    width:80%;
    height: 80%;
    /* border: 1px white solid; */
   /* border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}*/

/*.skills-center-ctn{
    position: relative;
    width: 50%;
    float: left; /* Ensure containers appear side by side */
  /*  margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: sr1 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px white solid;
}

.overlay {
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(to top, #e142e3 0%, #18143B 100%);;
}

.skills-center-ctn:hover .overlay {
      opacity: 80%;
}

.text {
    /* white-space: nowrap; */
    /*text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
    z-index: 11;
}

.skills-center-ctn:hover .text {
    display: block;
} */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.text-box{
    padding: 20px 30px;
    background-color: #ffffff;

    position: relative;
    border-radius: 6px;
    font-size: 15px;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 30% cover 20%;
    box-shadow: #e142e3 0px 20px 30px -10px;
}

.left{
    left: 0;
}

.right{
    left:50%;
}

.container img{
    position: absolute;
    width: 50px;
    /* border-radius: 50%; */
    right: -25px;
    top: 32px;
    z-index: 10;
    background-color: #07073E;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 30% cover 20%;
}

.right img{
    left: -25px;
}

.timeline::after{
    content: '';
    position:absolute;
    width: 6px;
    height: 100%;
    background: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    /* z-index: .5; */
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 0%;
}


.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 50;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -12px;
}
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 50;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -12px;
}



/* ************************************************************************************************************************************** */

#projects{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#projects-ctn{
    min-height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.projects-ctn-ctn{
    height: 50%;
    width: 22%;
    background-color: #18143B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #ffffff 0px 2px 8px 0px;
    /* box-shadow: #e142e3 0px 20px 30px -10px; */
    /* box-shadow: #e142e3 0px 5px 15px; */
}

.img1{
    background-color: #363350;
    border-radius: 25px;
    height: 200px;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

.git{
    background-color: none;
    /* height: 50px; */
    width: 50px;
    object-fit: contain;
}

.projects-ctn-ctn-gh{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.projects-ctn-ctn h2{
    color: #ffffff;
    text-align: center;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    /* font-size: ; */
}


/* ************************************************************************************************************************************* */



#contact{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

#contact-heading{
    padding-top: 10px;
}

form{
    width:50%;
    height: 70%;
    box-shadow: #e142e3 0px 2px 5px -1px, #e142e3 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
}

input{
    height: 50px;
}

textarea{
    height: 150px;
    resize: none;
}

input,textarea{
    width: 99%;
    background-color: transparent;
    border-radius: 3px;
    color: #ffffff;
    box-shadow: #ffffff 0px 0px 5px 0px, #ffffff 0px 0px 0px 1px;
}


input:focus,textarea:focus{
    box-shadow: #e142e3 2px 2px 2px 2px, #e142e3 2px 2px 2px 2px;
}


.subbtn{
    width:100px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    
}

.subbtn:hover{
    cursor: pointer;
}


/* ************************************************************************************************************************************* */



@media only screen and (max-width: 600px) {
    #navbar{
        width: 100%;
        border-radius: 0;
        position: absolute;
    }
    #intro{
        font-size: 35px;
        line-height: 45px;
    }
    #intro span{
        font-size: 80px;
    }

    h1{
        font-size: 30px;
    }

    #about-heading,#skills-heading{
        margin-top: 20px;
        font-size: 30px;
    }

    #about-ctn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #me{
        animation: none;
        border-radius: 5px;
        width: 150px;
    }

    #parah{
        font-size: 15px;
        animation: none;
    }

    #parah span{
        font-size: 20px;
    }

    #dwnld{
        width: 70px;
        height: 20px;
        font-size: 10px;
    }

    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left:31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .right{
        left: 0;
    }
    .left img, .right img{
        left: 10px;
    }
    .left-arrow, .right-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -14px;
    }

    #projects-ctn{
        width: 95%;
        /* display: flex; */
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    }

    .projects-ctn-ctn{
        width: 100%;
        font-size: 10px;
    }

    form{
        width: 300px;
    }


}